/* Designed by dk_vaja */

:root {
  --cwhite: #f3f3f3;
  --cdarkblue: #1b1b32;
  --cdarkblue-alpha: rgba(27, 27, 50, 0.8);
  --cgreen: #37af65;
}

* {
  margin: 0;
  padding: 0;
  outline-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  line-height: 1.5;
  font-size: 15px;
  /* font-weight: 400; */
}

body {
  
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  /* font-weight: 400; */
  line-height: 1.4;
  color: var(--cwhite);
  margin: 0;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: rgb(112, 112, 139);
  background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url("Assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* utility class */

.text-align {
  text-align: center;
}

.container {
  width: 100%;
  margin: 3rem auto 0px auto;
  max-width: 720px;
}

.header {
  margin-bottom: 20px;
}
#title {
  line-height: 1.2;
  font-weight: 400;
  font-size: 2.3rem;
}

#description {
  font-style: italic;
  font-weight: 200;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 40%);
}

form {
  padding: 2.5rem;
}

#survey-form {
  background: var(--cdarkblue-alpha);
  border-radius: 0.3rem;
  padding: 2.5rem;
}

.form-group {
  margin: 0rem auto 1.25rem auto;
  padding: 0.25rem;
}

label {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.form-control {
  display: block;
  width: 100%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  background-color: white;
  color: #495057;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.3rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.input-textarea {
  min-height: 120px;
  width: 100%;
  padding: 0.62rem;
  resize: vertical;
}

h1,
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.125rem;
}

button {
  border: none;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: var(--cgreen);
  color: inherit;
  border-radius: 2px;
  cursor: pointer;
}


@media (min-height:800px)
{
    #title {
        padding: 0rem .5rem;
      } 
}